In [1]:
#1.to reverse a string
s=input("Enter your string:")
print(s[::-1])

Enter your string: ASJAD

DAJSA

In [8]:
#2.To check if palindrome or not
s=input("Enter your string:")
l=len(s)-1
x=0
for i in range(l):
    if s[i]!=s[l-i]:
        break
    else:
        x=x+1    #if first and last index element matches x inc. by 1
    
if x==l:
    print("palindrome")
else:
    print("Not palindrome")

Enter your string: maaaaaaaaaaaaaaaaam

palindrome

In [29]:
#3.to check upper_case or not
s=input("Enter your string:")
l=len(s)
j=0
for i in range(0,l):
    x=s[i].isupper()
    if x==True:
        j=j+1
    else:
        break
        
if j==l:
    print("The given string is in upper_case")
else:
    print("The given string is not in upper_case from index",i)

Enter your string: asjad

The given string is not in upper_case from index 0

In [30]:
#4.convert a string to lower_case
s=input("Enter your string:")
print(s.lower())

Enter your string: ASJAD

asjad

In [9]:
#5.count the number of vowels in a string
s=input("Enter your string:")
l=len(s)
vow=["a","e","i","o","u"]
count=0
for i in range(l):
    for j in range(5):
        if s[i].lower()==vow[j]:
            count=count+1
        else:
            count=count
print(f"{count} vowels are present in the string")

Enter your string: ASJAD

2 vowels are present in the string

In [15]:
#6. count the number of consonants in a string
s=input("Enter your string:")
l=len(s)
vow=["a","e","i","o","u"]
count=0
for i in range(l):   
    if s[i].lower() not in vow:    #not in checks if the element at ith index of the string  does bot contains letters from the list vow 
        count=count+1               #or not
    else:
        count=count
print(f"{count} consonants are present in the string")

Enter your string: AEIOU

0 consonants are present in the string

In [28]:
#7.program to remove all the white spaces from the string
s=input("Enter your string:")
l=len(s)
s1=""
split=s.split()
for i in split:
    s1=s1+i
print(s1)

Enter your string: p y t h o n

python

In [31]:
#8.To find the length of a string with len() funct.
s=input("Enter your string:")
count=0
for i in s:
    count=count+1
print(f"{count} is the length of the string")

Enter your string: learning

8 is the length of the string

In [2]:
#9.To check if the string contains a specific word or not
s=input("Enter your string:")
word=input("Enter the word you want to search")
if word or word.lower in s:
    print("String contains the word",word)
else:
    print("String  does not contain the word",word)

Enter your string: MY NAME IS KHAN
Enter the word you want to search khan

String contains the word khan

In [12]:
#10.to replace a word with a new word in a string
s=input("Enter your string:")
word=input("Enter the word you want to replace")
word2=input("Enter the Replacement:")
s2=""
lst=s.split()
for i in lst:
    if i==word:
        s2=s2+word2
        s2=s2+" "
    else:
        s2=s2+i
        s2=s2+" "
print(s2.capitalize())

Enter your string: my name is khan
Enter the word you want to replace is
Enter the Replacement: was

My name was khan

In [15]:
#11.To count the number of occurence of a word in string
s=input("Enter your string:")
word=input("Enter the word you want \n To know no. of occurence:")
print(f"{s.count(word)} is the number of occurence")

Enter your string: data is very crucial data needs to preserve
Enter the word you want
 To know no. of occurence: data

2 is the number of occurence

In [1]:
#12.To find the first occurrence of a word
s=input("Enter your string:")
word=input("Enter the word to know its first occurence")
s.find(word)

Enter your string:  my name is asjad and is is me
Enter the word to know its first occurence is

9

In [13]:

#13.To find the last occurrence of a word
s=input("Enter your string:")
l-len(s)
word=input("Enter the word to know it's last occu")
print(z) # not done yet?

Enter your string: k
Enter the word to know it's last occu j

0

In [18]:
#14.To split a string into list of words
s=input("Enter your string:")
lst=s.split(" ")
print(lst)

Enter your string: my name is khan

['my', 'name', 'is', 'khan']

In [24]:
#15.To join a list of words into a string
lst=[]
str=""
x=int(input("Enter how many list of words you want"))
for i in range(x):
    n=input("Enter word:")
    lst.append(n)
    str=str+lst[i]
    str=str+" "
print("The list of words are",lst)
print("The string is:",str)

Enter how many list of words you want 4
Enter word: man
Enter word: search's
Enter word: for
Enter word: meaning

The list of words are ['man', "search's", 'for ', 'meaning']
The string is: man search's for  meaning

In [27]:
#16.To convert a string where words are separated by whitespaces to one where words are separated by underscores
str=input("Enter the string separated by spaces:")
lst=str.split()
str2=" "
for i in lst:
    str2=str2+i
    str2=str2+"_"
print(str2)

Enter the string separated by spaces: The world is a prison for believer and paradise for unbeliever

 The_world_is_a_prison_for_believer_and_paradise_for_unbeliever_

In [31]:
#17.To check if a string starts with specific word/phrase or not
str=input("Enter the string:")
wrd=input("Enter the word:")
if str.startswith(wrd)==True:
    print(f"Yes the Line starts with {wrd}")
else:
    print("no the string does not starts with",wrd)

Enter the string: faith consists of more the sixty branches and haya is a part of faith
Enter the word: faith

Yes the Line starts with faith

In [32]:
#18.To check if the string ends with specific word/phrase or not 
str=input("Enter the string:")
wrd=input("Enter the word:")
if str.endswith(wrd)==True:
    print(f"Yes the Line ends with {wrd}")
else:
    print("no the string does not starts with",wrd)

Enter the string: faith consists of more the sixty branches and a part of faith is haya
Enter the word: haya

Yes the Line ends with haya

In [33]:
#19.convert a string to title case
str=input("Enter the string:")
print(str.title())

Enter the string: melody is melodious

Melody Is Melodious

In [2]:
#20.To find the longest word in a string.
str=input("Enter the string:")
lst=str.split()
l=len(lst)
i=0
while i<l-1:
    if len(lst[i+1])>len(lst[i]):
        longst=lst[i+1]
    else:
        longst=lst[i]
    i=i+1
print("The longest word is :",longst)

Enter the string: my name  is asjad

The longest word is : asjad

In [4]:
#20.To find the shortest word in a string.
str=input("Enter the string:")
lst=str.split()
l=len(lst)
i=0
while i<l-1:
    if len(lst[i+1])>len(lst[i]):
        shrst=lst[i]
    else:
        shrst=lst[i+1]
    i=i+1
print("The shortest word is :",shrst)

Enter the string: my name is asjad

The shortest word is : is

In [9]:
#22.To reverse the order of words in a string.
str=input("Enter the string:")
lst=str.split()
str2=""
for ls in lst:
    l=len(ls)-1
    for j in range(l,-1,-1):
        str2=str2+ls[j]
    str2=str2+" "
print(str2)

Enter the string: This is  going to be a reversed string

sihT si gniog ot eb a desrever gnirts

In [11]:
#23.To check if a string is alphanumeric or not
str=input("Enter the string:")
if str.isalnum()==True:    #it checks that the string contains only numbers and alphabets or nor.
    print("Yes the given string is alphanumeric")
else:
    print("No the given string is not alphanumeric")

Enter the string: #57 h

No the given string is not alphanumeric

In [15]:
#25.To extract all the alphabets from the string
str=input("Enter the string:")
lst=str.split()
str2=""
for word in lst:
    for i in word:
        x=i.isalpha() #isalpha checks for alphabets
        if x==True:
            str2=str2+i
print("The extracted alphabets are :",*str2)

Enter the string: @#V43erg

The extracted alphabets are : V e r g

In [2]:
#24.To extract all the digits from the string
str=input("Enter the string:")
lst=str.split()
str2=""
for word in lst:  #outer loop iterate through each word
    for i in word: # inner loop iterate through each letter of word
        x=i.isdigit() #is digits checks for digits 
        if x==True:
            str2=str2+i
print("The extracted digits are:",*str2)

Enter the string: gyudsftwe234123#$#

The extracted digits are: 2 3 4 1 2 3

In [4]:
#26.To count the number of upper_case letters 
str=input("Enter the string:")
lst=str.split()
str2=""
for word in lst:
    for i in word:
        if i.isupper()==True:
            str2=str2+i
print("The upper_case letters are:",*str2)

Enter the string: #@aaA

The upper_case letters are: A

In [5]:
#27.To count the number of lower_case letters 
str=input("Enter the string:")
lst=str.split()
str2=""
for word in lst:
    for i in word:
        if i.islower()==True: #islower returns true if i is in lower_case
            str2=str2+i
print("The lower_case letters are:",*str2)

Enter the string: ASJAD as

The lower_case letters are: a s

In [7]:
#28.To swap the characters of each character in a string,i.e if  char=upper_case then char=lowe_case and vice versa
str=input("Enter the string:")
lst=str.split()
str2=""
for word in lst:
    for i in word:
        if i.islower()==True:
            x=i.upper()
            str2=str2+x
        elif i.isupper()==True:
            y=i.lower()
            str2=str2+y
        else:
            str2=str2+i
    str2=str2+" "
print(str2)

Enter the string: THE lower and UPPER 4567

the LOWER AND upper 4567

In [4]:
#29.To remove a specific word from a string
str=input("Enter the string:")
word=input("Enter the word to remove")
lst=str.split()
str2=""
for i in lst:
        if i!=word:
            str2=str2+i
            str2=str2+" "
        else:
            continue
print(str2)

Enter the string: Wake up to reality the world is cruel  best for students
Enter the word to remove best

Wake up to reality the world is cruel for students

In [11]:
 #30.To check that if an email address is valid or not
#A valid email id should starts and end with number or letters only 
#symbols other than ".","_","-" are not allowed in user name
str=input("Enter the E-mail ID for validation:")
sep_lst=str.split("@") #separates domain and username
user_namelst=sep_lst[0]
l=len(user_namelst)

#Domain name verification
dmn_name=""        
if sep_lst[1].lower()=="gmail.com":
    dmn_name="verified"
else:
    dmn_name="not verified"
    
    
#user_name verification
spclchr=[".","_","-"]
user_name=""
for i in user_namelst:
        if i  not in spclchr:           #This will remove all the special characters which are allowed.From the username
            user_name=user_name+i
        else:
            if user_namelst[0]==i or user_namelst[l-1] ==i:
                vrf=False
            else:                         #This will verifies that user name does not starts and ends with these special symbols [.,_,-]
                vrf=True
            
        
    
        
if dmn_name=="verified" and user_name.isalnum()==True  and vrf==True:
    print("This is a valid E-mail ID")
else:
    print("This is not a valid E-mail ID")

Enter the E-mail ID for validation: asjad._13@gmail.com

This is a valid E-mail ID

In [5]:
#31.To extract username from an Given E-mail ID string.
str=input("Enter the E-mail ID ")
splt=str.split("@")
print(f"{splt[0]} is the username ")

Enter the E-mail ID  aj.asjad007@gmail.com

aj.asjad007 is the username

In [12]:
#32.To extract domain name from the given E-mail ID
str=input("Enter the E-mail ID ")
splt=str.split("@")
print(f"{splt[1]} is the Domain name ")

Enter the E-mail ID  aj.asjad007@gmail.com

gmail.com is the username

In [55]:
#33 
def replace_multiple_spaces(input_string):
    parts = filter(None, input_string.split(' ')) #filter function
    cleaned_string = ' '.join(parts)
    return cleaned_string
original_string = "This    is   an    example    with   multiple   spaces."
result = replace_multiple_spaces(original_string)
print(result)

This is an example with multiple spaces.

In [9]:
#34.To check if the string is a Valid URl or not
str=input("Enter the URL")
protocol=["http://","https://", "ftp://", "mailto:"]
#https://www.goggle.com is a valid URL
for p in protocol:
    if str.startswith(p)==True:
        valid=True
        break
    else:
        valid=False
if "//" in str:
    strsplt=str.split("//")
    domain=[i for i in strsplt[1]]
    if "!"not in domain and "@"not in domain and "#" not in domain and "$" not in domain and "%" not in domain and valid==True:
        print("Given URl is Correct")
    else:
        print("Not A Valid URL")    
else:
    print("Not A Valid URL")

Enter the URL https://www.goggle.com

Given URl is Correct

In [38]:
#35.
str=input("Enter the URL")
if str.startswith("https://") or str.startswith("http://"): 
    strsplt=str.split("//")
    pro=strsplt[0]+"//"
    print(pro,"is the protocol of the given URL")
else:
    print("Not a valid URL")

Enter the URL https://www.goggle.com

https:// is the protocol of the given URL

In [1]:
#36.
count=0
word="HELLOWORLD"
l=len(word)
for i in range(0,l):
    for j in range(-1,-l-1,-1):
        if word[i]==word[j]:
            count=count+1
    print(f"{word[i]} occurs {count} times")
    count=0

H occurs 1 times
E occurs 1 times
L occurs 3 times
L occurs 3 times
O occurs 2 times
W occurs 1 times
O occurs 2 times
R occurs 1 times
L occurs 3 times
D occurs 1 times

In [21]:
#37
str="hello to the word! & to the people::"
punc=[".","?","!",":",";","()","[ ]","{ }","-","—","/","&","...","'",]
str2=" "
for i in str:
    if i in punc:
        pass
    else:
        str2=str2+i
print(str)
print(str2)

hello to the word! & to the people::
 hello to the word  to the people

In [33]:
#38
word=input("Enter your string")
str=word.split(" ")
for i in str:
    if i.isdigit()==True:
        v=True
    else:
        v=False
if v==True:
    print("Given string contains only digits")
else:
    print("Given string  does contain character's other than digits")

Enter your string 213 2136

Given string contains only digits

In [34]:
#39.
word=input("Enter your string")
str=word.split(" ")
for i in str:
    if i.isalpha()==True:
        v=True
    else:
        v=False
if v==True:
    print("Given string contains only alphabets")
else:
    print("Given string  does contain character's other than alphabets")

Enter your string Asjad alam

Given string contains only alphabets

In [36]:
#40.
word=input("Enter:")
list=[i for i in word]
print(list)

Enter: AVENGERS ASSEMBLE

['A', 'V', 'E', 'N', 'G', 'E', 'R', 'S', ' ', 'A', 'S', 'S', 'E', 'M', 'B', 'L', 'E']

In [56]:
#41.
word1 = input("Enter 1st word: ")
word2 = input("Enter 2nd word: ")
word1 = word1.lower()
word2 = word2.lower()
if sorted(word1) == sorted(word2):
    print("Given strings are anagrams.")
else:
    print("Given strings are not anagrams.")

Enter 1st word:  asjad
Enter 2nd word:  jadsa

Given strings are anagrams.

In [19]:
#42.
#caesar cipher is method to encode characters using their ascii values
def caesar_cipher_encrypt(text,shift):
    result = ""
    for char in text:
        if char.isalpha():
            is_upper = char.isupper() #returns True or false
            ascii_code = ord(char)   #ord is used to convert charcater into its ascii form
            shifted_ascii=(ascii_code-ord('A' if is_upper else'a')+shift)%26   #by using %26 we are making sure that we are shifting upto 26 alphabets only if shifted ascii>26 it will agian starts from 1
            shifted_char = chr(shifted_ascii + ord('A' if is_upper else 'a')) #  sifted_ascii=18(for P)+65=83 i.e->S
            result += shifted_char #Now i am appending every letter to result
        else:
            result += char

    return result

plaintext ="PWSKILLS"
shift_amount=3
encrypted_text = caesar_cipher_encrypt(plaintext, shift_amount)
print(f"Original :{plaintext}")
print(f"Encrypted:{encrypted_text}")

Original :PWSKILLS
Encrypted:SZVNLOOV

In [18]:
#43.
#THIS will work same as previous one only i have to use negative shift here
def caesar_cipher_encrypt(text,shift):
    result = ""
    for char in text:
        if char.isalpha():
            is_upper = char.isupper() #returns True or false
            ascii_code = ord(char)   #ord is used to convert charcater into its ascii form
            shifted_ascii=(ascii_code-ord('A' if is_upper else'a')-shift)%26   #by using %26 we are making sure that we are shifting upto 26 alphabets only if shifted ascii>26 it will agian starts from 1
            shifted_char = chr(shifted_ascii + ord('A' if is_upper else 'a')) #  sifted_ascii=15(for S)+65=80 i.e->P
            result += shifted_char #Now i am appending every letter to result
        else:
            result += char

    return result

plaintext="SZVNLOOV"
shift_amount=3
encrypted_text = caesar_cipher_encrypt(plaintext, shift_amount)
print(f"Original :{plaintext}")
print(f"Encrypted:{encrypted_text}")

Original :SZVN2OOV
Encrypted:PWSK2LLS

In [24]:
#44.
str="apple banana apple grape guava"
lst=str.split(" ")
dict={}
for i in lst:
    x=lst.count(i)
    dict.update({i:x})
print(dict)
print("The most frequent word is:",max(dict,key=dict.get))

{'apple': 2, 'banana': 1, 'grape': 1, 'guava': 1}
The most frequent word is: apple

In [29]:
#45.
str1=input("Enter:")
splt=str1.split(" ")
dict1={}
for i in splt:
    c=splt.count(i)
    dict1.update({i:c})
print(dict1)
for i in dict1:
    if dict1.get(i)==1:
        print(i,"is an unique word")
    else:
        print(i,"is not an unique word")

Enter: apple banana apple grape guava

{'apple': 2, 'banana': 1, 'grape': 1, 'guava': 1}
apple is not an unique word
banana is an unique word
grape is an unique word
guava is an unique word

In [36]:
#46.
def count_syllables(word):
    vowels="aeiouyAEIOUY"
    count=sum(1 for char in word if char in vowels and word[word.index(char)-1] not in vowels)
    return count
def count_syllables_in_string(input_string):
    words=input_string.split()
    total_syllables=sum(count_syllables(word) for word in words)
    return total_syllables
input_string="Hello, how are you? How was your day?"
syllable_count=count_syllables_in_string(input_string)
print("Total syllables:", syllable_count)

Total syllables: 9

In [38]:
#47.
def chck(word):
    lst=word.split(" ")
    for i in lst:
        if i.isalnum():
            x=True
        else:
            x=False
    if x==False:
        print("Yes this string contains special character")
str=input("Enter Your string:")
send=chck(str)

Enter Your string: asjad34#

Yes this string contains special character

In [43]:
#48.
str3=input("Enter your sentence:")
lst3=str3.split(" ")
n=int(input("Enter number to remove the word from that number"))
lst3.pop(n-1)
print(lst3)
new_str=" "
for i in lst3:
    new_str=new_str+i
    new_str=new_str+" "
print("After Removal of word:",new_str)

Enter your sentence: your chance of success is leaving good
Enter number to remove the word from that number 6

['your', 'chance', 'of', 'success', 'is', 'good']
After Removal of word:  your chance of success is good

In [53]:
#49.
str_or="Dont miss the of the table clash"
print(str_or)
word=input("Enter your word to insert:")
lst4=str_or.split(" ")
n1=int(input("Enter number to insert at that position:"))
lst4.insert(n1-1,word)
new_str1=" "
for i in lst4:
    new_str1=new_str1+i
    new_str1=new_str1+" "
print("After addition of word:",new_str1)

Dont miss the of the table clash

Enter your word to insert: top
Enter number to insert at that position: 4

After addition of word:  Dont miss the top of the table clash

In [54]:
#50
#csv are nothing but comma separated values
def csv_string_to_list(csv_string):
    rows = csv_string.split('\n')
    data_list = [row.split(',') for row in rows if row]
    return data_list
csv_string = "Name, Age, City\nJohn, 25, New York\nJane, 30, San Francisco\nBob, 22, Chicago"
#here i use\n for new line
result = csv_string_to_list(csv_string)
print(csv_string)
print(result)

Name, Age, City
John, 25, New York
Jane, 30, San Francisco
Bob, 22, Chicago
[['Name', ' Age', ' City'], ['John', ' 25', ' New York'], ['Jane', ' 30', ' San Francisco'], ['Bob', ' 22', ' Chicago']]

In [11]:
 #_______________________________________________lists based______________________________________________#
    #list is ordered and changeable and allow duplication
    #we can change the contents of the list wiothout creating new list

In [9]:
#1.
lst=[i for i in range(1,11)]
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
#2.
lst=[i for i in "THIS IS A STRING"]
c=0
for i in lst:
    c=c+1
print("The lenth of the list is ",c)

The lenth of the list is  16

In [15]:
#3.
lst=["I"]
for i in range(10):
    lst.append(i*"*")
print(lst)

['I', '', '*', '**', '***', '****', '*****', '******', '*******', '********', '*********']

In [20]:
#4.
lst=[i*2 for i in range(1,6)]
lst.insert(4,"Hi")
print(lst)

[2, 4, 6, 8, 'Hi', 10]

In [23]:
#5.
lst=["hi","hello"]
lst.remove("hi")    # deletion by value
print(lst)

['hello']

In [24]:
#6.
lst=["hi","hello","Alone"]
lst.pop(0)       # deletion by position
print(lst)

['hello', 'Alone']

In [ ]:
#7.
lst=[i for i in range(50,1,-1) if i%2==0]
n=int(input("Enter:"))
if n in lst:
    print(f"Yes {n} is in the list")
else:
    print(f"No {n} is in the list")

In [4]:
#8.
lst=["HELLO","HI",44.5,"NO",44.5]
for i in range(0,len(lst)+1):
    if lst[i]==44.5:
        print("Element 44.5 found at index",i)
        break

Element 44.5 found at index 2

In [6]:
#9
lst=["HELLO","HI",44.5,"NO",44.5]
c=0
for i in lst:
    if i==44.5:
        c=c+1
print("Number  of times 44.5 occurs in the list is",c)

Number  of times 44.5 occurs in the list is 2

In [1]:
#10.
lst=[i//2 for i in range(2,21) if i%2==0]
print(lst)
lst.reverse()
print("The reversed list is ",lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
The reversed list is  [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [19]:
#11.
lst=[i for i in range(11,1,-2)]
print(lst)
lst.sort()
print("In ascending order",lst)

[11, 9, 7, 5, 3]
In ascending order [3, 5, 7, 9, 11]

In [18]:
#12.
lst=[i for i in range(1,11,2)]
print(lst)
lst.reverse()
print("In desecending order",lst)

[1, 3, 5, 7, 9]
In desecending order [9, 7, 5, 3, 1]

In [23]:
#13.
even=[i for i in range(1,21) if i%2==0]
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [22]:
#14.
odd=[i for i in range(1,21) if i%2!=0]
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [27]:
#15.
sum=0
list=[i for i in range(1,16)]
for i in list:
    sum=sum+i
print(sum)

120

In [5]:
#16.
list=[12,4512,461,9766,8917]
max=list[0]
l=len(list)
for n in range(1,l):
    if list[n]>max:
        max=list[n]
    else:
        max=max

print(max,"is the maximum value")

9766 is the maximum value

In [7]:
#16.
list=[1642,4512,461,2566,897]
min=list[0]
l=len(list)
for n in range(1,l):
    if list[n]<min:
        min=list[n]
    else:
        min=min

print(max,"is the maximum value")

9766 is the maximum value

In [3]:
#17.
list=[30,4512,461,2566,897]
min=list[0]
l=len(list)
for n in range(1,l):
    if list[n]<min:
        min=list[n]
    else:
        min=min

print(min,"is the minimum value")

30 is the minimum value

In [2]:
#18
lst_of_sqrs=[i*i for i in range(1,11)]
print(lst_of_sqrs)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#19

In [10]:
#20
lst=[11,10,12,21,10,22,10,21,30]
l=len(lst)

print(dup)

[11, 10, 12, 21, 22, 30]

In [30]:
#21
lst1=["hi" ,12,45,"new"]
lst2=[12,34,"hi",24,89,9,45]
print("The common elements are")
for i  in lst1:
    if i in lst2:
        print(i)

The common elements are
hi
12
45

In [34]:
#22.
lst1=["hi",12,45,"new"]
lst2=[12,34,"hi",24,89,9,45]
print("The uncommon elements or the difference between the elements are:")
for i in lst2:
    if i not in lst1:
        print(i)
for i in lst1:
    if i not in lst2:
        print(i)

The uncommon elements or the difference between the elements are:
34
24
89
9
new

In [6]:
#23.
lst1=["hi",12,45,"new"]
lst2=[12,34,"hi",24,89,9,45]
lst3=set(lst1+lst2)
print(list(lst3))

[89, 34, 9, 12, 45, 'hi', 24, 'new']

In [7]:
#24
lst1=["A",34,67,8,0,12,"B"]
lst2=[i*2 for i in lst1]
print(lst2)

['AA', 68, 134, 16, 0, 24, 'BB']

In [11]:
#25.
lst1=[i for i in range(1,30)]
print("The first list is :",lst1)
lst2=[i for i  in lst1 if i%2==0]
print("The filtered  even elements are ",*lst2)

The first list is : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
The filtered  even elements are  2 4 6 8 10 12 14 16 18 20 22 24 26 28

In [13]:
#26.
lst_of_strings=["12","13","156","189","10"]
lst_of_integers=[int(i) for i in lst_of_strings]
print(lst_of_integers)

[12, 13, 156, 189, 10]

In [19]:
#27.
lst_of_integers=[12,13,156,189,10,1000]
lst_of_strings=[str(i) for i in lst_of_integers]
print(lst_of_strings)

['12', '13', '156', '189', '10', '1000']

In [21]:
#28.
nested_lst=[["hi","hello","no"],[12,17,14,16,90],["22-10-2004","13-08-2003"]]
flat_lst=[]
for i in nested_lst:
    for  j in i:
        flat_lst.append(j)
print(flat_lst)

['hi', 'hello', 'no', 12, 17, 14, 16, 90, '22-10-2004', '13-08-2003']

In [23]:
#29.
fst=0
scnd=1
fib=[fst,scnd]
n=10
for i in range(n-2):
    add=fst+scnd
    fib.append(add)  #0,1,1,2,3
    fst=scnd
    scnd=add
print("The first ten fiboonaci sequence is ",fib)

The first ten fiboonaci sequence is  [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [4]:
#30.
lst=[13,12,10,24,25,27]
lst2=lst.sort()
if lst==lst2:
    print("Given list is sorted ")
else:
    print("Given list is not sorted")

Given list is not sorted

In [4]:
#31.
lst=[13,159,10,14,16]
n=int(input("Enter n to rotate upto:"))
lst1=lst[n:]+lst[:n]
print(lst1)

Enter n to rotate upto: 3

[14, 16, 13, 159, 10]

In [5]:
#32.
lst=[13,159,10,14,16]
n=int(input("Enter n to rotate upto:"))
lst1=lst[-n:]+lst[:-n]
print(lst1)

Enter n to rotate upto: 2

[14, 16, 13, 159, 10]

In [8]:
#33.
lst1=[2,3,5,7]
lst_pri=[i for i in range(10,50) if i%2!=0 and i%3!=0 and i%5!=0 and i%7!=0]
lst_prime=lst1+lst_pri
print(lst_prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [10]:
#34.
my_list=[1,2,3,4,5,6,7,8,9]
chunk_size=3
result=[my_list[i:i+chunk_size] for i in range(0,len(my_list),chunk_size)]
print("Original List:", my_list)
print(f"List Split into Chunks of {chunk_size}:", result)

Original List: [1, 2, 3, 4, 5, 6, 7, 8, 9]
List Split into Chunks of 3: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [14]:
#35.
lst=[67,15,29,20,45,89]
grt=lst[0]
l=len(lst)
for i in range(1,l):
    if grt<lst[i]:
        grt=lst[i]
    else:
        grt=grt
lst.remove(grt)
print("The second largest element is:",max(lst))

The second largest element is: 67

In [16]:
#36.
lst1=[1,3,5,7,8]
lst1=[i*i for i in lst1]
print(lst1)

[1, 9, 25, 49, 64]

In [17]:
#37.
my_list=['apple', 'banana', 'orange', 'grape']
result_dict = {element: index for index, element in enumerate(my_list)}
print("Original List:", my_list)
print("Converted Dictionary:", result_dict)

Original List: ['apple', 'banana', 'orange', 'grape']
Converted Dictionary: {'apple': 0, 'banana': 1, 'orange': 2, 'grape': 3}

In [18]:
#38
import random
my_list = [1, 2, 3, 4, 5]
random.shuffle(my_list)
print("Shuffled List:", my_list)

Shuffled List: [2, 4, 1, 3, 5]

In [22]:
#39.
lst=[0,1]
x=lst[0]
y=lst[1]
for i in range(8):
    x,y=y,x+y
    lst.append(y)
print(lst)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [23]:
#40.
list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]
common_elements = any(item in list1 for item in list2)
if common_elements:
    print("The lists have at least one element in common.")
else:
    print("The lists do not have any elements in common.")

The lists have at least one element in common.

In [25]:
#41.
lst=[12,15,16,78,132]
lst.clear()
print("ALL elements are removed",lst)

ALL elements are removed []

In [26]:
#42.
original_list = [1, -2, 3, -4, 5, -6, 7]
modified_list = [max(0, x) for x in original_list]
print("Original List:", original_list)
print("Modified List:", modified_list)

Original List: [1, -2, 3, -4, 5, -6, 7]
Modified List: [1, 0, 3, 0, 5, 0, 7]

In [28]:
#43.
str1="The world is a prison for believer"
lst1=str1.split(" ")
print(lst1)

['The', 'world', 'is', 'a', 'prison', 'for', 'believer']

In [33]:
#44.
lst1=["PWskills","is","an","platform","for","data","science"]
str1=""
for i in lst1:
    str1=str1+i
    str1=str1+" "
print(str1)

PWskills is an platform for data science

In [36]:
#45.
n=int(input("Enter N for giving power of 2's"))
lst1=[2**i for i in range(1,n+1)]
print(lst1)

Enter N for giving power of 2's 6

[2, 4, 8, 16, 32, 64]

In [42]:
#46.
lst1=["PWskill","is","and","platform","for","data","science"]
grt=len(lst1[0])
lngst_str=lst1[0]
for i in range(0,len(lst1)):
    if len(lst1[i])>grt:
        grt=len(lst1[i])
        lngst_str=lst1[i]
print("The longest string is:",lngst_str)

The longest string is: platform

In [46]:
#47.
lst1 = ["PWskill", "is", "and", "platform", "for", "data", "science"]
sml = len(lst1[0])
smlst_str = lst1[0]
for i in range(1, len(lst1)):
    if len(lst1[i]) < sml:
        sml = len(lst1[i])
        smlst_str = lst1[i]
print("The smallest string is:", smlst_str)

The smallest string is: is

In [47]:
#48.
lst_tri=[(n*(n+1))//2 for n in range(1,11)]
print("The First tem triangular numbers are",lst_tri)

The First tem triangular numbers are [1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [48]:
#49.
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
sub_list = [3, 5, 8]
is_subsequence=all(item in main_list for item in sub_list)
if is_subsequence:
    print("The sub-list is a subsequence of the main list.")
else:
    print("The sub-list is not a subsequence of the main list.")

The sub-list is a subsequence of the main list.

In [49]:
#50.
my_list = [1, 2, 3, 4, 5]
index_to_swap1 = 1
index_to_swap2 = 3
if 0<=index_to_swap1<len(my_list)and0<=index_to_swap2<len(my_list):
    temp=my_list[index_to_swap1]
    my_list[index_to_swap1]=my_list[index_to_swap2]
    my_list[index_to_swap2]=temp
    print("List after swapping:", my_list)
else:
    print("Invalid indices. Unable to swap elements.")

List after swapping: [1, 4, 3, 2, 5]

In [ ]:
####---------------------------------------------Tuple based-------------------------------------------------------------###

In [6]:
#1.
tup=[i for i in range(1,6)]
tup=tuple(tup)
print(tup)

(1, 2, 3, 4, 5)

In [8]:
#2
print(tup)
print("The Third Element is:",tup[2])

(1, 2, 3, 4, 5)
The Third Element is: 3

In [9]:
#3.
print(tup)
c=0
for i in tup:
    c=c+1
print("Length of the Tuple is:",c)

(1, 2, 3, 4, 5)
Length of the Tuple is: 5

In [27]:
#4
tup2=(1,23,5,5,6,88,1,9,11,1)
print(tup2)
n=int(input("Enter:"))
c=0
for i in tup2:
    if i==n:
        c=c+1
    else:
        c=c
print(f"Value:{n} occurs--{c}times")

(1, 23, 5, 5, 6, 88, 1, 9, 11, 1)

Enter: 1

Value:1 occurs--3times

In [31]:
#5
tup2=(1,23,5,5,6,88,1,9,11,1)
print(tup2)
l=len(tup2)
n=int(input("Enter:"))
c=0
for i in range(0,l+1):
    if tup2[i]==n:
        print(f"The first occurence of {n} is in the index:{i}")
        break

(1, 23, 5, 5, 6, 88, 1, 9, 11, 1)

Enter: 5

The first occurence of 5 is in the index:2

In [35]:
#6
tup2=(1,23,5,5,6,88,1,9,11,1)
print(tup2)
n=int(input("Enter element for Checking its existence:"))
if n in tup2:
    print("Exist")
else:
    print("Not Exist")

(1, 23, 5, 5, 6, 88, 1, 9, 11, 1)

Enter element for Checking its existence: 6

Exist

In [36]:
#7
print("This is the tuple",tup2)
print("This is converted tuple",list(tup2))

This is the tuple (1, 23, 5, 5, 6, 88, 1, 9, 11, 1)
This is converted tuple [1, 23, 5, 5, 6, 88, 1, 9, 11, 1]

In [11]:
#8
lst=[i for i in range(49,1,-1) if i%2!=0 and i%3!=0 and i%5!=0 and i%7!=0]
tup3=tuple(lst)
print("List Converted To Tuple Is",tup3)

List Converted To Tuple Is (47, 43, 41, 37, 31, 29, 23, 19, 17, 13, 11)

In [14]:
#9.
print(tup3)
a,b,c,d,e,*f=tup3          #*f stores all the remaining values of tuple 
print(a,b,c,d,e)
print(f)

(47, 43, 41, 37, 31, 29, 23, 19, 17, 13, 11)
47 43 41 37 31
[29, 23, 19, 17, 13, 11]

In [4]:
#10
tup_even=[i for i in range(2,11) if i%2==0]
tup_even=tuple(tup_even)
print(tup_even)

(2, 4, 6, 8, 10)

In [1]:
#11
tup_odd=[i for i in range(2,11) if i%2!=0]
tup_odd=tuple(tup_odd)
print(tup_odd)

(3, 5, 7, 9)

In [7]:
#12
print(tup_even)
print(tup_odd)
concat=tup_even+tup_odd
print("Concatinated:",concat)

(2, 4, 6, 8, 10)
(3, 5, 7, 9)
Concatinated: (2, 4, 6, 8, 10, 3, 5, 7, 9)

In [9]:
#13.
print(tup_even)
rep=tup_even*3
print("Repeated Tuple",rep)

(2, 4, 6, 8, 10)
Repeated Tuple (2, 4, 6, 8, 10, 2, 4, 6, 8, 10, 2, 4, 6, 8, 10)

In [23]:
#14
tupg2=(1,1,23,5)
tupg1=()
print(tupg2)
if len(tupg2)!=0:
    print("Not an Empty Tuple")
else:
    print("Empty Tuple")
print(tupg1)
if len(tupg1)!=0:
    print("Not an Empty Tuple")
else:
    print("Empty Tuple")

(1, 1, 23, 5)
Not an Empty Tuple
()
Empty Tuple

In [32]:
#15
l1=[i for i in range(2,5)]
l2=[i for i in range(10,5,-1)]
l3=["Hi","No","Yes"]
t=(tuple(l1),tuple(l2),tuple(l3))
print("This is a nested Tuple",t)

This is a nested Tuple ((2, 3, 4), (10, 9, 8, 7, 6), ('Hi', 'No', 'Yes'))

In [34]:
#16.
print(t)
print("This is The first Element of The Nested Tuple",t[0])
for i in t[0]:
    print("This is the First Element of The Tuple which is the first element of the tuple:",i)
    break

((2, 3, 4), (10, 9, 8, 7, 6), ('Hi', 'No', 'Yes'))
This is The first Element of The Nested Tuple (2, 3, 4)
This is the First Element of The Tuple which is the first element of the tuple: 2

In [35]:
#17.
tw1=("Tup_with_one_element",)
print(tw1)

('Tup_with_one_element',)

In [38]:
#18.
print(t[0])
print(t[1])
if len(t[0])==len(t[1]):
    print("These Two Are Equivalent")
else:
    print("These Two Are Not Equivalent")
x=t[0]
y=t[0]
print(x)
print(y)
if x==y:
    print("These Two Are Equal")
else:
    print("These Two Are Not Equal")

(2, 3, 4)
(10, 9, 8, 7, 6)
These Two Are Not Equivalent
(2, 3, 4)
(2, 3, 4)
These Two Are Equal

In [51]:
#19
y=tupg2
print(tupg2)
y=list(y)
y.clear()
y=tuple(y)
print("Deleted Tuple",y)

(1, 1, 23, 5)
Deleted Tuple ()

In [56]:
#20
y=tupg2
print(y)
print("Sliced:",y[1:3])

(1, 1, 23, 5)
Sliced: (1, 23)

In [3]:
#21.
tup21=(1,10,3,4,5)
max=tup21[0]
for i in tup21:
    if i>max:
        max=i
print("The maximum value in the tuple is",max)

The maximum value in the tuple is 10

In [8]:
#22.
tp=(11,10,3,4,53)
def min(tup):
    mn=tup[0]
    for i in tup:
        if i<mn:
            mn=i
    return mn
send=min(tp)
print("The mimnimum value in the tuple is",send)

The mimnimum value in the tuple is 3

In [9]:
#23.
str1=input("Enter Your string:")
tup=tuple(str1)
print(tup)

Enter Your string: asjad

('a', 's', 'j', 'a', 'd')

In [12]:
#24.
tup_cr=("w","w","w",".","g","o","o","g","l","e",".","c","o","m")
char=""
for i in tup_cr:
    char=char+i
print(char)

www.google.com

In [19]:
#25.
it=24
char="pw"
flot=23.5
lst=[2,6,"hi"]
tup1=()
tup2=tup1+(it,char,flot,lst)
print(tup2)

(24, 'pw', 23.5, [2, 6, 'hi'])

In [25]:
#26.
tup_1=tuple(i for i in range(1,5))
tup_2=(1,2,3,4)
if tup_1==tup_2:
    print("Yes They are identical")
else:
    print("No They are not")

Yes They are identical

In [31]:
#27.
tup_s=(15.8,16,4,0,15,28)
lst=list(tup_s)
lst.sort()
tup_new=tuple(lst)
print("sorted tuple is",tup_new)

sorted tuple is (0, 4, 15, 15.8, 16, 28)

In [40]:
#28.
tup_int=(1,4,5,17,19,888)
print("original",tup_int)
def con_str(tup):
    tup_str=()
    for i in tup_int:
        tup_str=tup_str+(str(i),)
    print("converted",tup_str)
con_str(tup_int)

original (1, 4, 5, 17, 19, 888)
converted ('1', '4', '5', '17', '19', '888')

In [41]:
#29.
tup_str=tuple(i for i in "1227409")
print("original",tup_str)
def con_int(tup):
    tup_str=()
    for i in tup_int:
        tup_str=tup_str+(int(i),)
    print("converted",tup_str)
con_int(tup_str)

original ('1', '2', '2', '7', '4', '0', '9')
converted (1, 4, 5, 17, 19, 888)

In [43]:
#30.
tup_1=tuple(i for i in "hi")
tup_2=tuple(i for i in range(1,6))
tup_3=tup_1+tup_2
print(tup_3)

('h', 'i', 1, 2, 3, 4, 5)

In [53]:
#31.
tup_nest=("hi",2,5,("hello","n"),(24,"hi"))
flat_tup=()
for item in tup_nest:
    if type(item)==tuple:
        for i in item:
            flat_tup=flat_tup+(i,)
    else:
        flat_tup=flat_tup+(item,)
print("Nested Tuple is",tup_nest)
print("Flattend Tuple is",flat_tup)

Nested Tuple is ('hi', 2, 5, ('hello', 'n'), (24, 'hi'))
Flattend Tuple is ('hi', 2, 5, 'hello', 'n', 24, 'hi')

In [58]:
#32.
tup=(2,)
tup2=[]
for i in range(3,13):
    is_prime=True
    for j in range(2,i):
        if i%j==0:
            is_prime=False
    if is_prime==True:
        tup2.append(i)
print("List of first 5 prime numbers using loop",tup+tuple(tup2))

List of first 5 prime numbers using loop (2, 3, 5, 7, 11)

In [71]:
#33.
tup=("l","e","v","e","l")
is_pal=True
l=len(tup)-1
for i in range(l+1):
    if tup[i]!=tup[l-i]:
        is_pal=False
if is_pal:
    print("This Tuple is palindrome")
else:
    print("Not a palindrome")

This Tuple is palindrome

In [72]:
#34.
tup_sqr=tuple(i*i for i in range(1,6))
print(tup_sqr)

(1, 4, 9, 16, 25)

In [78]:
#35.
tup=tuple((int(i) for i in "125341687910"))
tup_evn=[]
for i in tup:
    if i%2==0:
        tup_evn.append(i)
print(tup)
print("All the even numbers are",tuple(tup_evn))

(1, 2, 5, 3, 4, 1, 6, 8, 7, 9, 1, 0)
All the even numbers are (2, 4, 6, 8, 0)

In [82]:
#36.
tup=tuple((int(i) for i in "26510"))
print("original",tup)
tup2=tuple(i*2 for i in tup)
print("Doubled",tup2)

original (2, 6, 5, 1, 0)
Doubled (4, 12, 10, 2, 0)

In [90]:
#37.
import random as r
tup_r=[]
for i in range(10):
    x=r.choices((range(1,100)))[0]
    tup_r.append(x)
print(tuple(tup_r))

(27, 44, 67, 2, 86, 10, 41, 76, 4, 65)

In [101]:
#38.
tup=(91,7,19,647,89,10)
lst=list(tup)
if lst.sort():
    print("Yes it is sorted")
else:
    print("No it is not sorted")

No it is not sorted

In [96]:
#39.
tup=(19,10,8,"numbers",261,94,89)
n=int(input("Enter position to rotate the tuple to left"))
print(tup[n:]+tup[:n])

Enter position to rotate the tuple 2

(8, 'numbers', 261, 94, 89, 19, 10)

In [100]:
#40.
tup=(19,10,8,"numbers",261,94,89)
n=int(input("Enter position to rotate the tuple to right"))
print(tup[-n:]+tup[:-n])

Enter position to rotate the tuple to right 2

(94, 89, 19, 10, 8, 'numbers', 261)

In [1]:
#41.
def fib(n):
    tup=[0,1]
    x=0
    y=1
    while len(tup)<n:
        x,y=y,x+y
        tup.append(y)
    return tup
x=int(input("Enter:"))
send=fib(x)
print(f"The first {x} fibonnaci numbers are:{tuple(send)}")

Enter: 5

The first 5 fibonnaci numbers are:(0, 1, 1, 2, 3)

In [2]:
#42.
x=True
tup=()
while x:
    print("For Not Sending any input value press EXIT")
    n=(input( "Element for the tuple:"))
    if n.upper()=='EXIT':
        x=False
    else:
        tup=tup+(n,)
print("Your Tuple is:",tup)

For Not Sending any input value press EXIT

Element for the tuple: 1

For Not Sending any input value press EXIT

Element for the tuple: 2

For Not Sending any input value press EXIT

Element for the tuple: 3

For Not Sending any input value press EXIT

Element for the tuple: exit

Your Tuple is: ('1', '2', '3')

In [3]:
#43.
tup=(1,10,12,19,20)
print('original',tup)
n1=int(input("Enter the position of element you want to swap:"))
#for first element press 1 and so
n2=int(input("Enter the position whom with you want to do swapping:"))
lst=list(tup)
lst[n1-1],lst[n2-1]=lst[n2-1],lst[n1-1]
new_tup=tuple(lst)
print("After Swapping",new_tup)

original (1, 10, 12, 19, 20)

Enter the position of element you want to swap: 2
Enter the position whom with you want to do swapping: 5

After Swapping (1, 20, 12, 19, 10)

In [4]:
#44.
tup=(14,17,18,25)
print("Original",tup)
l=len(tup)-1
new_tup=()
for i in range(l+1):
    new_tup=new_tup+(tup[l-i],)
print("Reversed",new_tup)

Original (14, 17, 18, 25)
Reversed (25, 18, 17, 14)

In [6]:
#45.
n=int(input("Enter power for 2's"))
tup_p=tuple(2**i for i in range(1,n+1))
print(tup_p)

Enter power for 2's 5

(2, 4, 8, 16, 32)

In [9]:
#46.
tup_str=("maths","calculus","operating","data","structure")
print(tup_str)
l=len(tup_str)
max_str=tup_str[0]
for i in range(1,l):
    if len(max_str)<len(tup_str[i]):
        max_str=tup_str[i]
    else:
        max_str=max_str
print("The largest string among them is:",max_str)

('maths', 'calculus', 'operating', 'data', 'structure')
The largest string among them is: operating

In [11]:
#47.
tup_str=("maths","calculus","operating","data","structure")
print(tup_str)
l=len(tup_str)
min_str=tup_str[0]
for i in range(1,l):
    if len(min_str)>len(tup_str[i]):
        min_str=tup_str[i]
    else:
        min_str=min_str
print("The smallest string among them is:",min_str)

('maths', 'calculus', 'operating', 'data', 'structure')
The smallest string among them is: data

In [21]:
#48.
n=int(input("Enter:"))
#T=(n*(n+1))//2 #formula to calculate nth triangular number
"""The third triangular number is 6, as it's the sum of the first three natural numbers (1+2+3)=6"""
tup_tri=tuple((i*(i+1))//2 for  i in range(1,n+1))
print("The first n triangular numbers are:",tup_tri)

Enter: 4

The first n triangular numbers are: (1, 3, 6, 10)

In [25]:
#49.
tup_nst=((1,2),4,23,"hi")
for i in tup_nst:
    if type(i)==tuple:
        print("Yes it is a nested tuple")
        break
else:
    print("No it is not a nested tuple")

Yes it is a nested tuple

In [29]:
#50.
n=int(input("Enter:"))
alternating_tuple=tuple((i%2) for i in range(n))
print(alternating_tuple)

Enter: 20

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [30]:
#---------------------------------------------------------------------sets--------------------------------------------------

In [2]:
#1.
set_1={i for i in range(1,6)}
print(set_1)

{1, 2, 3, 4, 5}

In [3]:
#2.
set_2={i for i in range(1,10) if i%2==0}
set_2.add(33)
print(set_2)

{33, 2, 4, 6, 8}

In [9]:
#3.
set_3={i for i in range(1,10) if i%2==0}
print(set_3)
set_3.remove(4)
print("New set",set_3)

{8, 2, 4, 6}
New set {8, 2, 6}

In [15]:
#4.
set_4={13,5,19,27}
for i in set_4:
    if i==13:
        print("Yes 13 exists in the set")
        break
else:
    print("No 13 is not in the set")

Yes 13 exists in the set

In [16]:
#5.
swt={17,"hi",4897,12}
def length(sst):
    c=0
    for i in sst:
        c=c+1
    return c
send=length(swt)
print("Length of the set is",send)

Length of the set is 4

In [18]:
#6.
set_a={14,"jk",16,"1872",45}
print(set_a)
set_a.clear()
print("After deleting:",set_a)

{16, '1872', 'jk', 45, 14}
After deleting: set()

In [19]:
#7.
set_even={i for i in range(1,11) if i%2==0}
print(set_even)

{2, 4, 6, 8, 10}

In [20]:
#8.
set_odd={i for i in range(1,11) if i%2!=0}
print(set_odd)

{1, 3, 5, 7, 9}

In [23]:
#9.
set_A={1,3,5,7}
set_B={2,4,6,8}
print(set_A.union(set_B))

{1, 2, 5, 6, 7, 8, 9}

In [26]:
#10.
set_A={1,3,4,7}
set_B={2,4,3,8}
print(set_A.intersection(set_B))

{3, 4}

In [1]:
#11.
set_A={1,3,4,7}
set_B={2,4,3,8}
print(set_A.difference(set_B))

{1, 7}

In [4]:
#12.
set_a={1,2,3,4,5,6}
sub_a={3,4,5}
if sub_a.issubset(set_a):
    print("Yes")
else:
    print("No")

Yes

In [5]:
#13.
"A set A is considered a superset of another set B if every element of B is also an element of A."
set_a={1,2,3,4,5,6}
sub_a={3,4,5}
if sub_a.issuperset(set_a):
    print("Yes")
else:
    print("No")

No

In [6]:
#14.
lst=[1,2,3,4,5,6,7]
set_lst={i for i in lst}
print(set_lst)

{1, 2, 3, 4, 5, 6, 7}

In [7]:
#15.
set2={14,28,10,10}
lst=list(set2)
print(lst)

[10, 28, 14]

In [13]:
#16.
set_1={10,18,47,43,12}
print(set_1)
set_1.pop()
print(set_1)

{18, 10, 43, 12, 47}
{10, 43, 12, 47}

In [1]:
#17.
set_1={10,18,47,43,12}
print(set_1)
set_1.remove(18)
print(set_1)

{18, 10, 43, 12, 47}
{10, 43, 12, 47}

In [15]:
#18.
set_11={12,13,15,16}
set_22={17,18,19,20}
print("Elements are common")
for i in set_22:
    if i  in set_11:
        print("Elements are common")
        break
else:
    print("Yes These two sets has no elements common")

Elements are common
Yes These two sets has no elements common

In [2]:
#19.
"""The symmetric difference of two sets is the set of elements that are in either of the sets, but not in both."""
s1={1,2,3,4,5,6}
s2={9,7,6,5,4,3}
s1.symmetric_difference(s2)

{1, 2, 7, 9}

In [5]:
#20.
s1={10,20,30,40}
s2={50,60}
s1.update(s2)
print(s1)

{50, 20, 40, 10, 60, 30}

In [25]:
#21.
prime_numbers={num for num in range(2, 20) if all(num % i != 0 for i in range(2, int(num**0.5) + 1))}
print(prime_numbers)

{2, 3, 5, 7, 11, 13, 17, 19}

In [3]:
#22.
#if two sets are having same elements irrespective of order are called identical sets
s1={13,18,90,23}
s2={90,23,13,18}
if s1==s2:
    print("These two sets are identical")
else:
    print("These two sets are not identical")

These two sets are identical

In [4]:
#23.
#Forzen sets are immutable sets once created we can't modify it
set1={1,2,3,4}
set2=frozenset(set1)
print(set2)

frozenset({1, 2, 3, 4})

In [6]:
#24.
#disjoint sets are those having no elements common
set1={i for i in range(1,11) if i%2==0}
set2={i for i in range(1,11) if i%2!=0}
print(set1)
print(set2)
print(set1.isdisjoint(set2))

{2, 4, 6, 8, 10}
{1, 3, 5, 7, 9}
True

In [7]:
#25.
set_sqr={i*i for i in range(1,6)}
print(set_sqr)

{1, 4, 9, 16, 25}

In [10]:
#26.
seta={12,28,43,55,66,77,26,76,34,35,33,73,61}
set_sqra={i for i in seta if i%2==0}
print("All the even numbers are:",set_sqra)

All the even numbers are: {66, 34, 12, 76, 26, 28}

In [11]:
#27.
setb={12,28,43,55,66,77,26,76,34,35,33,73,61}
set_mult_2={i*2 for i in setb}
print("All the elements when multiplied by 2 is",set_mult_2)

All the elements when multiplied by 2 is {66, 56, 132, 68, 70, 122, 110, 146, 52, 86, 24, 154, 152}

In [23]:
#28.
import random
choice=[i for i in range(1,10)]
n=random.choice(choice)
random_set = set((i for i in range(1, n+1)))
print(random_set)

{1, 2, 3, 4, 5, 6}

In [25]:
#29.
set1={}
set2={1,2,3}
def chck(emp):
    if len(emp)!=0:
        print(f"This set is not empty:{emp}")
    else:
        print(f"This set is empty:{emp}")
chck(set2)
chck(set1)

This set is not empty:{1, 2, 3}
This set is empty:{}

In [34]:
#30.
set_a={i for i in range(99,88,-1) if i%2==0}
set_a1=frozenset(set_a)
set_b={i for i in range(99,88,-1) if i%2!=0}
nested_set={set_a1,frozenset(set_b)}
print(nested_set)

{frozenset({97, 99, 89, 91, 93, 95}), frozenset({96, 98, 90, 92, 94})}

In [36]:
#31.
set_a={i for i in range(99,87,-1) if i%2==0}
print(set_a)
set_a.discard(88)
print(set_a)

{96, 98, 88, 90, 92, 94}
{96, 98, 90, 92, 94}

In [37]:
#32.
set_c1={12,14,16,18}
set_c2={19,28,34,15}
if set_c1==set_c2:
    print("These two are equal")
else:
    print("These two are not equal")

These two are not equal

In [40]:
#33.
set_str={i for i in "pwskills"}
print(set_str)

{'i', 'p', 'k', 's', 'l', 'w'}

In [45]:
#34.
set_str={"11","12","13","23"}
set_int=[]
for i in set_str:
    set_int.append(int(i))
set_int=set(set_int)
print("strings",set_str)
print("integers",set_int)

strings {'11', '12', '23', '13'}
integers {11, 12, 13, 23}

In [48]:
#35.
set_int1={33,77,19,20,43}
set_str1={str(i) for i in set_int1}
print("integers",set_int1)
print("strings",set_str1)

integers {33, 19, 20, 43, 77}
strings {'33', '20', '19', '43', '77'}

In [49]:
#36.
tup=("a",23,12,"b")
set_tup={i for i in tup}
print("Tuple:",tup)
print("set:",set_tup)

Tuple: ('a', 23, 12, 'b')
set: {'a', 'b', 12, 23}

In [54]:
#37
set_tup1={i for i in range(5,12)}
tup1=tuple((i for i in set_tup1))
print("set:",set_tup1)
print("Tuple:",tup1)

set: {5, 6, 7, 8, 9, 10, 11}
Tuple: (5, 6, 7, 8, 9, 10, 11)

In [63]:
#38.
set11={132,184,183,21,180,181}
lst=list(set11)
mx=lst[0]
l=len(lst)
for i in range(0,l):
    if lst[i]>mx:
        mx=lst[i]
print(f"The largest element of the set {set11} is:{mx}")

The largest element of the set {132, 180, 21, 181, 184, 183} is:184

In [62]:
#39.
set11={132,184,183,21,180,181}
smal=min(set11)
print(f"The smallest element of the set {set11} is:{smal}")

The smallest element of the set {132, 180, 21, 181, 184, 183} is:21

In [68]:
#40.
choice=1
set_usr=set()
while(choice):
    n=int(input("Enter element of the set:"))
    set_usr.add(n)
    choice=int(input("Enter 1:For more Enter 0:For Exit"))
print("Your Set:",set_usr)

Enter element of the set: 12
Enter 1:For more Enter 0:For Exit 1
Enter element of the set: 13
Enter 1:For more Enter 0:For Exit 1
Enter element of the set: 14
Enter 1:For more Enter 0:For Exit 0

Your Set: {12, 13, 14}

In [4]:
#41.
set_1={12,13,14,25}
set_2={"12","14",20,33}
x=set_1.intersection(set_2)
if len(x)!=0:
    print(f"The intersection of {set_1} and {set_2} is not Empty")
else:
    print(f"The intersection of {set_1} and {set_2} is Empty")

The intersection of {25, 12, 13, 14} and {'12', 33, 20, '14'} is Empty

In [8]:
#42.
x=0
y=1
set_fib={x,y}
n=int(input("Enter n fot fibbonaci set"))
for i in range(n):
    x,y=y,x+y
    set_fib.add(y)
print("Fibonacci set is:",set_fib)

Enter n fot fibbonaci set 5

Fibonacci set is: {0, 1, 2, 3, 5, 8}

In [19]:
#43.
lst=[i for i in range(1,11)]
for i in range(1,4):
    lst.append(i)
print("original:",lst)
lst=set(lst)
print("Duplicates elements are removed:",lst)

original: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3]
Duplicates elements are removed: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [21]:
#44.
set1={1, 2, 3, 4, 5}
set2={5, 4, 3, 2, 1}
if set1==set2:
    print("The sets have the same elements regardless of their count.")
else:
    print("The sets do not have the same elements regardless of their count.")

The sets have the same elements regardless of their count.

In [23]:
#45.
n=int(input("Enter N:"))
set_pow_2={2**i for i in range(1,n+1)}
print(f"The set of {n} power's of 2 are{set_pow_2}")
#set is a collection of undorederd unique elements

Enter N: 5

The set of 5 power's of 2 are{32, 2, 4, 8, 16}

In [25]:
#46.
lst=[12,15,129,13]
seta={13,109,14,19,15,2}
setb=set(lst)
print(f"The common elements between list:{lst} and set{seta} are:{seta.intersection(setb)}")

The common elements between list:[12, 15, 129, 13] and set{2, 19, 109, 13, 14, 15} are:{13, 15}

In [27]:
#47.
n=int(input("Enter number:"))
set_a={(i*(i+1))//2 for i in range(1,n+1)}
print(f"Triangular numbers upto{n} are:{set_a}")

Enter number: 5

Triangular numbers upto5 are:{1, 3, 6, 10, 15}

In [28]:
#48.
set1={13,15,16,178,131,214}
set11={131,15}
if set11.issubset(set1):
    print(f"Yes {set11} is a subset of {set1}")
else:
    print(f"No {set11} is  not a subset of {set1}")

Yes {131, 15} is a subset of {16, 178, 131, 214, 13, 15}

In [45]:
#49
n=int(input("Enter Length:"))
set_alt=[i%2 for i in range(n)]
print(set_alt)
#set does not allow duplication.

Enter Length: 5

[0, 1, 0, 1, 0]

In [ ]:
#50.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
# Using union metho
merged_set = set1.union(set2, set3)

# Alternatively, using the | operator
# merged_set = set1 | set2 | set3

print("Merged Set:", merged_set)