In [1]:
#TASK_2
#FOR LOOP

In [2]:
#1.
for i in range(1,11,1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [3]:
#2.
lst=[1,42,6,2448 ,87]
sum=0
for i in lst:
    sum=sum+i
print("Resultant sum:",sum)

Resultant sum: 2584

In [16]:
#3.
str="XCELARATE"
l=len(str)
for i in range(1,l+1):
    print(str[-i])

E
T
A
R
A
L
E
C
X

In [20]:
#4.
num=int(input("Enter number:"))
fact=1
for i in range(num):
    M=num-i
    fact=fact*M
print(fact)

Enter number: 5

120

In [23]:
#5.
num=int(input("Enter number:"))
for i in range(1,11):
    print(f"{num}*{i}={num*i}")

Enter number: 6

6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60

In [25]:
#6.
lst=[12,3,5,876,12,7,9,]
E=0
O=0
for i in lst:
    if i%2==0:
        E=E+1
    else:
        O=O+1
print("The number of odds are:",O)
print("The number of Evens are:",E)

The number of odds are: 4
The number of Evens are: 3

In [26]:
#7.
for i in range(1,6):
    print(f"The square of {i} is {i*i}")

The square of 1 is 1
The square of 2 is 4
The square of 3 is 9
The square of 4 is 16
The square of 5 is 25

In [5]:
#8.
str=input("enter:")
sum=0
for i in str:
    sum=sum+1
print("The length of the string is", sum)

enter: I AM IRONMAN

The length of the string is 12

In [8]:
#9.
list=[1,4,8 ,18,78,90]
l=len(list)
sum=0
for i in list:
    sum=sum+i
avg=sum/l
print("The average is:",avg)

The average is: 33.166666666666664

In [37]:
#10.
num=int(input("Enter the number for generating the fibonacci series upto it:"))
n1=0
n2=1
print(n1,n2,end=' ')
for i in range(num-2):
    srs=n1+n2
    print(srs,end=' ')
    n1=n2
    n2=srs

Enter the number for generating the fibonacci series upto it: 8

0 1 1 2 3 5 8 13

In [28]:
                                                             #--------------------#

In [48]:
#11.
lst = [1, 3, 5,6, 3,1]
for item in lst:
    if lst.count(item) > 1:
        print(f"{item} contains duplicates")

1 contains duplicates
3 contains duplicates
3 contains duplicates
1 contains duplicates

In [28]:
#12.
print("Give the range for getting prime numbers")
x=int(input("Enter range:"))
y=int(input("To:"))
for i in range(x,y+1):
    for j in range(2,x):
        if i%j==1:
            print(i,end=" ")
        break
print(f"are the prime numbers between {x} and {y}")

Give the range for getting prime numbers

Enter range: 5
To: 8

5 7 are the prime numbers between 5 and 8

In [42]:
#13.
str=input("Enter a string:")
lst=['a','e','i','o','u']
LST2=[]
cnt=0
for i in str:
    if i.lower() in lst:
        LST2.append(i)
        cnt=cnt+1
print("number vowels present are ",cnt)
print("Vowels present are :",*LST2,end=" ")

Enter a string: WHAT IS OOPS?

number vowels present are  4
Vowels presenr are : A I O O

In [48]:
#14.
list=[[1,2,3,4],
      [98,18,9,0],
      [10,17,92,24],
      [80,89,91,8]]
grt=1
for row in list:
    for j in row:
        if j>grt:
            grt=j
print("The greatest number is:",grt)

The greatest number is: 98

In [50]:
#15.
list=[1,6,89,6,81,999,6,818,90,118]
print(list)
list2=[]
x=int(input("Enter the element You want to remove from the list:"))
for i in list:
    if i!=x:
        list2.append(i)
print("The new list is ",list2)

[1, 6, 89, 6, 81, 999, 6, 818, 90, 118]

Enter the element You want to remove from the list: 6

The new list is  [1, 89, 81, 999, 818, 90, 118]

In [57]:
#16.
for i in range(1,6):
    for j in range(1,11):
        print(f"{i}*{j}={i*j}")
    print(" ")

1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20

3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30

4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40

5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

In [61]:
#17.
temp=[]
cel=[]
for i in range(5):
    x=int(input("Enter temperature in farenhiet:"))
    temp.append(x)
print("The given list of temperatures in farenhiet is ",temp)
for t in temp:
    opr=(t-32)*(5/9)
    c=round(opr,4) #THis round off function will round off the opr variable upto four places after the decimal
    cel.append(c)
print(" list of temperature's in celsius is ",cel)

Enter temperature in farenhiet: 32
Enter temperature in farenhiet: 64
Enter temperature in farenhiet: 95
Enter temperature in farenhiet: 89
Enter temperature in farenhiet: 10

The given list of temperatures in farenhiet is  [32, 64, 95, 89, 10]
 list of temperature's in celsius is  [0.0, 17.7778, 35.0, 31.6667, -12.2222]

In [77]:
#18.
list1=["hello" ,7812,89,17, "python",67,98]
list2=["Hello",".py",89,89,"python"]
l3=[]
for i in list1:
    for j in list2:
        if i==j:
            l3.append(j)
list3=set(l3)
print("The common elements between the lists are:",end=" ")
print(*list3,sep=" are ")

The common elements between the lists are: 89 are python

In [82]:
#19.
for i in range(10,0,-1):
    for j in range(i):
        print("*",end=" ")
    print(" ")
for i in range(10):
    for j in range(i):
        print("*",end=" ")
    print(" ")

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [104]:
# 20.
n1=int(input("Enter the 1st number for finding it's GCD"))
n2=int(input("Enter the 2nd number for finding it's GCD"))
if n1>n2:
    s=n2
else:
    s=n1
for r in range(s,1,-1):
    if (n1%r==0 and n2%r==0):
        print("GCD IS ",r)
        break

Enter the 1st number for finding it's GCD 18
Enter the 2nd number for finding it's GCD 24

GCD IS  6

In [7]:
 #-----------------------------------------------------------------------------------------------------------------------#
sum(range(1,5))

10

In [49]:
#21.
lst=[12,43,14,77]
lstc=[sum(int(d) for d in str(n)) for n in lst]
print(lstc)

[3, 7, 5, 14]

In [51]:
#22.
number = int(input("Enter a number: "))
prime_factors = [factor for factor in range(2, number + 1) if number % factor == 0]
prime_factors = [factor for factor in prime_factors if all(factor % i != 0 for i in range(2, int(factor**0.5) + 1))]
print("Prime factors:", prime_factors)

Enter a number:  34

Prime factors: [2, 17]

In [53]:
#23.
input_list = [1, 2, 2, 3, 4, 4, 5, 6,"hi","hello"]
unique_elements = [x for i, x in enumerate(input_list) if x not in input_list[i+1:]]
print("Unique elements:", unique_elements)

Unique elements: [1, 2, 3, 4, 5, 6, 'hi', 'hello']

In [1]:
#24.
num=int(input("Enter limit:"))
pald=[i for i in range(1,num+1) if str(i)==str(i)[::-1]]
print(pald)

Enter limit: 121

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121]

In [62]:
#25.
o_lst=[1,2,3], [4, 5], [6,7,8]

f_list = [i for lst in o_lst for i in   lst]

print("Flattened List:", f_list)

Flattened List: [1, 2, 3, 4, 5, 6, 7, 8]

In [48]:
#26.To print the sum of even and odd numbers in a list seprately using list comrehension
lst=[13,23,43,45,22,4,8,10]
even_lst=[lst[i]for i in range(0,len(lst)) if lst[i]%2==0]
odd_lst=[lst[i]for i in range(0,len(lst)) if lst[i]%2!=0]
print("The sum of all the even numbers are ",sum(even_lst))
print("The sum of all the odd numbers are ",sum(odd_lst))

The sum of all the even numbers are  44
The sum of all the odd numbers are  124

In [49]:
#27.
my_lst=[i*i for i in range(1,11) if i%2!=0]
print(my_lst)

[1, 9, 25, 49, 81]

In [59]:
#28.To combine two lists into a dictionary using list comprehension
lst1=["ron","harry","dumbeldore"]
lst2=["22","21","50"]
dict={x:y for x,y in zip(lst1,lst2)}  

print(dict)

{'ron': '22', 'harry': '21', 'dumbeldore': '50'}

In [72]:
#29.
word=input("Enter:")
lst=[i for i in word.lower() if i=="a" or i=="e" or i =="i" or i=="e" or i=="u"]
print(f"{lst} are the vowels present in your sentence")

Enter: IRON  MAN,HULK

['i', 'a', 'u'] are the vowels present in your sentence

In [12]:
#30.
word=["string","fstring@1"]
lst=[i for char in word for i  in char if i.isalpha()==True]
print(lst)

['s', 't', 'r', 'i', 'n', 'g', 'f', 's', 't', 'r', 'i', 'n', 'g']

In [13]:
#{____________________________________________________________________________________#

In [24]:
#31.
#sieve of erasthones algorithm 
import math as m
limit=int(input("Enter:"))
is_prime = [True] * (limit + 1)    #creating a list of True values upto given limit
is_prime[0]=is_prime[1]=False      #setting the 0 and 1 value as false because they are not considered as prime numbers
for i in range(2,int(m.sqrt(limit))+1):          #loop starts from 2 to the square root of given number
    if is_prime[i]==True:                        #if is_prime list value is True at that iteration(i)
        for j in range(i*i,limit+1,i):            #Then starts a loop upto the given number(limit) and convert allthe multiple
                is_prime[j]=False
prime_num=[]
for n in range(2,limit+1):
    if is_prime[n]==True:
        prime_num.append(n)
print(prime_num,"Are the prime numbers upto",limit)

Enter: 20

[2, 3, 5, 7, 11, 13, 17, 19] Are the prime numbers upto 20

In [32]:
#32.
#Pythgorean triplets upto a given number
number=int(input("Enter:"))
trip=[]
for p in range(1,number+1):
    for q in range(p+1,number+1):
        r_sqrd=p**2 +q**2
        r=int(r_sqrd**0.5)
        if r*r==r_sqrd and r<=number:
            trip.append((p,q,r))
print(trip)

Enter: 10

[(3, 4, 5), (6, 8, 10)]

In [15]:
#33.To give all the possible combinations of two lists using list comprehension
lst1=["Hello", 23,"my"]
lst2=["bye",32,"your","34"]
lst3=[(x,y) for x in lst1 for y in lst2]
print("All the possible combinations are",lst3)

All the possible combinations are [('Hello', 'bye'), ('Hello', 32), ('Hello', 'your'), ('Hello', '34'), (23, 'bye'), (23, 32), (23, 'your'), (23, '34'), ('my', 'bye'), ('my', 32), ('my', 'your'), ('my', '34')]

In [39]:
#34.To calculate mean median and mode
lst_num=[12,14,52,28,10,88,12]
l=len(lst_num)
print(l)
mean=sum([i for i in lst_num])//l
print("The mean of the given numbers is",mean)
s_lst=sorted(lst_num)
print("This is sorted list",s_lst)
if l%2!=0:
    median=s_lst[l//2]
else:
    m1=s_lst[(l//2)-1]
    m2=s_lst[(l//2)+1]
    median=(m1+m2)/2
print("The median of the given list is ",median)
count_of_all={}
[count_of_all.update({i: s_lst.count(i)}) for i in s_lst if i not in count_of_all]
Mode = max(count_of_all, key=count_of_all.get)
print("The mode of the given numbers of list is ",Mode)

7
The mean of the given numbers is 30
This is sorted list [10, 12, 12, 14, 28, 52, 88]
The median of the given list is  14
The mode of the given numbers of list is  12

In [2]:
#35.To generate pasacal's triangle
num=int(input("Enter"))
p_triangle = [[1]]
[p_triangle.append([1] + [p_triangle[row - 1][i - 1] + p_triangle[row - 1][i] for i in range(1, row)] + [1])
 for row in range(1, num)]

for row in p_triangle:
    print(row)

Enter 4

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]

In [6]:
#36.
lst=[i*i for i in range(5,0,-1)]
print(lst)

[25, 16, 9, 4, 1]

In [21]:
#37.
fact=[]
for i in range(1,6):
    f=1
    for j in range(i,0,-1):
        f=f*j
    fact.append(f)
    
factorial_sums = [
    sum(int(digit) for digit in str(factorial)) 
    for factorial in fact]
print(factorial_sums,"is the sum of digits upto factorial 5")

[1, 2, 6, 24, 120]
[1, 2, 6, 6, 3]

In [23]:
#38.
string_list = ["hello", "world", "programming","Operator"]
filtered_strings = [s for s in string_list if sum(1 for char in s if char.lower() in "aeiou") > 3]

print("Strings with more than three vowels:")
for string in filtered_strings:
    print(string)

Strings with more than three vowels:
Operator

In [32]:
#39.
numbers =[i for i in range(1,1001)]
digit_sums = [sum(int(digit) for digit in str(num)) for num in numbers]
total_sum = sum(digit_sums)
print("The sum of digits for numbers from 1 to 1000 is:", total_sum)

The sum of digits for numbers from 1 to 1000 is: 13501

In [35]:
#40.
palindromes= [n for n in range(1, 1000) if str(n) == str(n)[::-1]]
p_palindromes = [n for n in palindromes if not any(n % i == 0 for i in range(2, int(n**0.5) + 1))]
print(p_palindromes)

[1, 2, 3, 5, 7, 11, 101, 131, 151, 181, 191, 313, 353, 373, 383, 727, 757, 787, 797, 919, 929]