In [4]:
import pandas as pd
%config Completer.use_jedi = False

In [11]:
#1
lst=[4, 8, 15, 16, 23,42]
ds=pd.Series(list)
print(ds)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [12]:
#2.
list1=[10,9,18,17,2,6,7,8,9,11]
ds1=pd.Series(list1)

print(ds1.head(10))    #Print all the Values

0    10
1     9
2    18
3    17
4     2
5     6
6     7
7     8
8     9
9    11
dtype: int64

In [14]:
#3.
data={'Name':['Alice','Bob','Claire'],'Age':[25,30,27],'Gender':['Female','Male','Female']}
df1=pd.DataFrame(data)
print(df1)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [27]:
#4.
"""DataFrame is an Two dimensional labeled, Tabular Data Structre,like table of rows and columns 
whereas DataSeries is one dimensional labeled array like a list with lables(index)"""

#example
data_series={1:24,2:25,3:26,4:27}
ds4=pd.Series(data_series)
#Here i have series with my own index 1,2,3,4
print(ds4)

data_series={1:28,2:29,3:30,4:31}
ds5=pd.Series(data_series)
print(ds5) #Data Series 2

#now we will create a DataFrame from these two Data_Series

df4 = pd.DataFrame({'Column1': ds4, 'Column2': ds5})
print(df4)

1    24
2    25
3    26
4    27
dtype: int64
1    28
2    29
3    30
4    31
dtype: int64
   Column1  Column2
1       24       28
2       25       29
3       26       30
4       27       31

In [31]:
#5.
"""
Some common functions you can use to manipulate data in a Pandas DataFrame are:-
     df=pd.read_csv('file_name')
     df=pd.read_excel('file_name')
    df['column_name1','column_name2']
    
    pandas.concat() #used to add new columns in DataFrame
    df4.drop()  #used to Delete  columns in DataFrame
    df4.head()  #used to print first five elements of a  DataFrame
    df4.tail()  #used to print last five elements of a DataFrame
    df4.count()  #is used to count the non-null values in each column (or row) of a DataFrame.
"""

#example
print(df4,"\n")
print(df4.count())

   Column1  Column2
1       24       28
2       25       29
3       26       30
4       27       31

Column1    4
Column2    4
dtype: int64

In [32]:
#6.
"""ALL Three 
series,DataFrame,panel are Mutable"""

'ALL Three \nseries,DataFrame,panel are Mutable'

In [13]:
#7.
R1=[1,2,3,4]
Na=["Ashu","Sahil","Faiz","Arsh"]
stm=["PCB","Commerce","PCM","Humanities"]
Sub_C=[102,204,103,301]
perc=[80.0,78.35,91.0,75]

s1=pd.Series(R1)
s2=pd.Series(Na)
s3=pd.Series(stm)
s4=pd.Series(Sub_C)
s5=pd.Series(perc)


df7=pd.DataFrame({"ID_no":R1,"Name":Na ,"Stream":stm ,"Subject_code":Sub_C ,"Percentage":perc})
print(df7)

   ID_no   Name      Stream  Subject_code  Percentage
0      1   Ashu         PCB           102       80.00
1      2  Sahil    Commerce           204       78.35
2      3   Faiz         PCM           103       91.00
3      4   Arsh  Humanities           301       75.00