In [3]:
import pandas as pd

In [ ]:
#1
"""
read_csv() -
head() - 
describe() - 
drop() - 
groupby()"""

In [4]:
#2
print("Old Data set:-")

lst={'A':[1,2,3,4,5],'B':[10,11,13,14,15],'C':[9,8,7,6,5]}
df=pd.DataFrame(lst)
print(df,"\n")

def to_re_index(Data_set):
    len_dat=len(Data_set)
    indices=[]
    x=1
    for i in range(len_dat):
        indices.append(x)
        x=x+2

    Data_set.index=indices
    print(Data_set)

print("New Data_set:-")
to_re_index(df)

Old Data set:-
   A   B  C
0  1  10  9
1  2  11  8
2  3  13  7
3  4  14  6
4  5  15  5

New Data_set:-
   A   B  C
1  1  10  9
3  2  11  8
5  3  13  7
7  4  14  6
9  5  15  5

In [6]:
#3.
data = {
    'ID': [1, 2, 3, 4, 5],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'values': [10, 20, 30, 40, 50]
}
df=pd.DataFrame(data)

sum=0
for i in range(3):
    sum=sum+df['values'][i]

print("Sum of first three values of values column are:",sum)

Sum of first three values of values column are: 60

In [8]:
#4.
data4 = {
    'Text': ['apple', 'banana', 'cherry', 'date', 'elderberry', 'fig', 'grape', 'honeydew'],
    'Starts_With': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'],  # First letter of each word
}

df4=pd.DataFrame(data4)
print(df4,'\n')
def create_column(data_frame):
    data_frame['words_count']=data_frame['Text'].apply(len)
    return data_frame

df4_A=create_column(df4)
print(df4_A)

         Text Starts_With
0       apple           A
1      banana           B
2      cherry           C
3        date           D
4  elderberry           E
5         fig           F
6       grape           G
7    honeydew           H

         Text Starts_With  words_count
0       apple           A            5
1      banana           B            6
2      cherry           C            6
3        date           D            4
4  elderberry           E           10
5         fig           F            3
6       grape           G            5
7    honeydew           H            8

In [11]:
#5
"""DataFrame.shape: This gives you the dimensions of the DataFrame in the form of (rows, columns).
It's like asking, "How many rows and columns are there"

DataFrame.size: This gives you the total number of elements in the DataFrame.
It's like multiplying the number of rows by the number of columns to know how many cells the DataFrame has in total."""

'DataFrame.shape: This gives you the dimensions of the DataFrame in the form of (rows, columns).\nIt\'s like asking, "How many rows and columns are there"\n\nDataFrame.size: This gives you the total number of elements in the DataFrame.\nIt\'s like multiplying the number of rows by the number of columns to know how many cells the DataFrame has in total.'

In [12]:
#6
"""
To read an Excel file in Pandas, you use the read_excel() function."""

'\nTo read an Excel file in Pandas, you use the read_excel() function.'

In [30]:
#7
data7 = {
    'Email': [
        'alice@example.com','bob@domain.com','charlie.deo@website.com','dave@company.com','eve@organization.com'],
    'Phone Number': ['+1 555-123-4567', '+44 20 7946 0958', '+91 98765 43210', '+1 555-987-6543', '+86 139 1234 5678']
       }

df_7=pd.DataFrame(data7)
print("Old Data Frame:")
print(df_7)


def func7(df):
    lst=[]
    for str in df['Email']:
        s=""
        for i in str:
            if i=="@":
                break
            s=s+i
        lst.append(s)
    return lst

username=func7(df_7)
df_7['Username']=username
print(" ")
print("Data Frame with New column Username:")
print(df_7)

Old Data Frame:
                     Email       Phone Number
0        alice@example.com    +1 555-123-4567
1           bob@domain.com   +44 20 7946 0958
2  charlie.deo@website.com    +91 98765 43210
3         dave@company.com    +1 555-987-6543
4     eve@organization.com  +86 139 1234 5678

Data Frame with New column Username:
                     Email       Phone Number     Username
0        alice@example.com    +1 555-123-4567        alice
1           bob@domain.com   +44 20 7946 0958          bob
2  charlie.deo@website.com    +91 98765 43210  charlie.deo
3         dave@company.com    +1 555-987-6543         dave
4     eve@organization.com  +86 139 1234 5678          eve

In [17]:
#8
data={'A':[3,6,1,8,7 ],'B':[7,11,8,4,2] ,'C':[3, 5,9, 1, 2,]}

df8=pd.DataFrame(data)
print(df8)
print("\n")
def func8(df):
    new_dat=[]
    for i,row in df8.iterrows():
        if row['A']>5 and row['B']<10:
            new_dat.append(row)
    new_df=pd.DataFrame(new_dat)
    print(new_df)

func8(df8)

   A   B  C
0  3   7  3
1  6  11  5
2  1   8  9
3  8   4  1
4  7   2  2


   A  B  C
3  8  4  1
4  7  2  2

In [31]:
#9
data9 = {'A': [3, 6, 1, 8, 7],  # Integers
        'B': [7.5, 11.3, 8.2, 4.0, 2.9],  # Floats
        'C': ['apple', 'banana', 'cherry', 'date', 'elderberry'],  # Strings
        'value': [10.5, 15.0, 7.25, 20.75, 12.5],  # Floats for 'Values'
        'Date': pd.to_datetime(['2024-09-18', '2024-09-19', '2024-09-20', '2024-09-21', '2024-09-22'])}  # Dates

df9=pd.DataFrame(data9)


def func9(df):
    mean=df['value'].mean()
    median=df['value'].median()
    std=df['value'].std()
    print(f"The Mean ,median ,standard deviation of  the values of value column are:{mean}, {median}, {std}")
func9(df9)

The Mean ,median ,standard deviation of  the values of value column are:13.2, 12.5, 5.084904128889748

In [51]:
""" Q.10 Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day."""


#10
data10= {'Sales': [100, 150, 200, 250, 300, 350, 400, 450, 500, 550, 600, 650],
        'Date': pd.to_datetime(['2024-09-01', '2024-09-02', '2024-09-03', '2024-09-04',
                                '2024-09-05', '2024-09-06', '2024-09-07', '2024-09-08',
                                '2024-09-09', '2024-09-10', '2024-09-11', '2024-09-12'])}


df10a=pd.DataFrame(data10)
print(df10a)
print(" ")

print("New Dataframe with MeanAverage Column is:")
def func10(df10):
    lst=[]
    for i in df10.index:
        lp=i-7
        if lp<0:
            lp=-1
        sum=0
        for j in range(i,lp,-1):
            sum=sum+df10['Sales'][j]
        lst.append(sum)
    df10['MeanAverage']=lst
    print(df10)

func10(df10a)

    Sales       Date
0     100 2024-09-01
1     150 2024-09-02
2     200 2024-09-03
3     250 2024-09-04
4     300 2024-09-05
5     350 2024-09-06
6     400 2024-09-07
7     450 2024-09-08
8     500 2024-09-09
9     550 2024-09-10
10    600 2024-09-11
11    650 2024-09-12

New Dataframe with MeanAverage Column is:
    Sales       Date  MeanAverage
0     100 2024-09-01          100
1     150 2024-09-02          250
2     200 2024-09-03          450
3     250 2024-09-04          700
4     300 2024-09-05         1000
5     350 2024-09-06         1350
6     400 2024-09-07         1750
7     450 2024-09-08         2100
8     500 2024-09-09         2450
9     550 2024-09-10         2800
10    600 2024-09-11         3150
11    650 2024-09-12         3500

In [4]:
#11

data11 = {
    'Date': [
        '2024-09-01', '2024-09-02', '2024-09-03', '2024-09-04', '2024-09-05',
        '2024-09-06', '2024-09-07', '2024-09-08', '2024-09-09', '2024-09-10',
        '2024-09-11', '2024-09-12', '2024-09-13', '2024-09-14', '2024-09-15',
        '2024-09-16', '2024-09-17', '2024-09-18', '2024-09-19', '2024-09-20'
    ],
    'Name': [
        'Alice', 'Bob', 'Charlie', 'David', 'Eva',
        'Frank', 'Grace', 'Hank', 'Ivy', 'Jack',
        'Karen', 'Leo', 'Mona', 'Nancy', 'Oscar',
        'Paul', 'Quincy', 'Rita', 'Sam', 'Tina'
    ],
    'Sales': [
        250, 300, 400, 150, 500,
        320, 280, 390, 210, 460,
        310, 270, 420, 230, 340,
        380, 410, 450, 370, 290
    ]
}

df11=pd.DataFrame(data11)
print(df11)
print(" ")

def func11(df11a):
    days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
    lst_col=[]
    for i in df11a.index:
        ind=i%7
        lst_col.append(days[ind])
    return lst_col
    
weekdays=func11(df11)
df11['Weekdays']=weekdays
print(" ")
print(df11)

          Date     Name  Sales
0   2024-09-01    Alice    250
1   2024-09-02      Bob    300
2   2024-09-03  Charlie    400
3   2024-09-04    David    150
4   2024-09-05      Eva    500
5   2024-09-06    Frank    320
6   2024-09-07    Grace    280
7   2024-09-08     Hank    390
8   2024-09-09      Ivy    210
9   2024-09-10     Jack    460
10  2024-09-11    Karen    310
11  2024-09-12      Leo    270
12  2024-09-13     Mona    420
13  2024-09-14    Nancy    230
14  2024-09-15    Oscar    340
15  2024-09-16     Paul    380
16  2024-09-17   Quincy    410
17  2024-09-18     Rita    450
18  2024-09-19      Sam    370
19  2024-09-20     Tina    290


          Date     Name  Sales   Weekdays
0   2024-09-01    Alice    250     Sunday
1   2024-09-02      Bob    300     Monday
2   2024-09-03  Charlie    400    Tuesday
3   2024-09-04    David    150  Wednesday
4   2024-09-05      Eva    500   Thursday
5   2024-09-06    Frank    320     Friday
6   2024-09-07    Grace    280   Saturday
7   2024-09-08     Hank    390     Sunday
8   2024-09-09      Ivy    210     Monday
9   2024-09-10     Jack    460    Tuesday
10  2024-09-11    Karen    310  Wednesday
11  2024-09-12      Leo    270   Thursday
12  2024-09-13     Mona    420     Friday
13  2024-09-14    Nancy    230   Saturday
14  2024-09-15    Oscar    340     Sunday
15  2024-09-16     Paul    380     Monday
16  2024-09-17   Quincy    410    Tuesday
17  2024-09-18     Rita    450  Wednesday
18  2024-09-19      Sam    370   Thursday
19  2024-09-20     Tina    290     Friday

In [17]:
#12
from datetime import datetime

data = {
    'Date': [
        datetime(2023, 1, 1, 12, 30),
        datetime(2023, 9, 2, 14, 45),
        datetime(2023, 1, 3, 9, 0),
        datetime(2023, 5, 4, 16, 15),
        datetime(2023, 9, 4, 16, 15),
        datetime(2023, 1, 4, 16, 15),
        datetime(2023, 3, 4, 16, 15),
        datetime(2023, 1, 9, 16, 15),
        datetime(2023, 9, 4, 16, 15),
        datetime(2023, 1, 10, 16, 15),
        datetime(2023, 8, 4, 16, 15),
        datetime(2023, 7, 4, 16, 15),
        datetime(2023, 1, 29, 16, 15),
        datetime(2023, 2, 4, 16, 15),
        datetime(2023, 9, 8, 16, 15),
        datetime(2023, 1, 12, 16, 15)
    ]
}

df12 = pd.DataFrame(data)

print(df12)

start_date = datetime(2023, 1, 1)
end_date = datetime(2023, 1, 31)


df12[(df12['Date']>=start_date) & (df12['Date']<=end_date)]

                  Date
0  2023-01-01 12:30:00
1  2023-09-02 14:45:00
2  2023-01-03 09:00:00
3  2023-05-04 16:15:00
4  2023-09-04 16:15:00
5  2023-01-04 16:15:00
6  2023-03-04 16:15:00
7  2023-01-09 16:15:00
8  2023-09-04 16:15:00
9  2023-01-10 16:15:00
10 2023-08-04 16:15:00
11 2023-07-04 16:15:00
12 2023-01-29 16:15:00
13 2023-02-04 16:15:00
14 2023-09-08 16:15:00
15 2023-01-12 16:15:00

                  Date
0  2023-01-01 12:30:00
2  2023-01-03 09:00:00
5  2023-01-04 16:15:00
7  2023-01-09 16:15:00
9  2023-01-10 16:15:00
12 2023-01-29 16:15:00
15 2023-01-12 16:15:00

In [18]:
#13
"""
To use the basic functions of pandas, you need to import the pandas library itself. You can do this with the following line of code:

import pandas as pd
"""

'\nTo use the basic functions of pandas, you need to import the pandas library itself. You can do this with the following line of code:\n\nimport pandas as pd\n'